@theme {
    /* ========== Primary ========== */
    --color-primary-a0: #d860fc;
    --color-primary-a10: #cf66ee;
    --color-primary-a20: #c66be0;
    --color-primary-a30: #bc70d2;
    --color-primary-a40: #b374c4;
    --color-primary-a50: #a977b6;

    /* ========== Surface (backgrounds) ========== */
    --color-surface-a0: #ffffff;
    --color-surface-a03: #f7f7f7;
    --color-surface-a05: #f4f4f4;
    --color-surface-a07: #f2f2f2;
    --color-surface-a10: #f0f0f0;
    --color-surface-a20: #e1e1e1;
    --color-surface-a30: #d3d3d3;
    --color-surface-a40: #c5c5c5;
    --color-surface-a50: #b6b6b6;

    /* ========== Surface Tonal ========== */
    --color-surface-tonal-a0: #fdf0ff;
    --color-surface-tonal-a03: #f8ebfc;
    --color-surface-tonal-a05: #f6e8fa;
    --color-surface-tonal-a07: #f1e3f6;
    --color-surface-tonal-a10: #eee3f0;
    --color-surface-tonal-a20: #e0d6e1;
    --color-surface-tonal-a30: #d2c9d3;
    --color-surface-tonal-a40: #c4bdc5;
    --color-surface-tonal-a50: #b6b0b6;

    /* ========== Status: Success ========== */
    --color-success-a0: #26bc6a;
    --color-success-a10: #4fc981;
    --color-success-a20: #78d699;
    --color-success-a30: #a1e3b1;
    --color-success-a40: #c9f1d0;
    --color-success-a50: #e2ffef;

    /* ========== Status: Danger ========== */
    --color-danger-a0: #ff5656;
    --color-danger-a10: #ff7777;
    --color-danger-a20: #ff9999;
    --color-danger-a30: #ffbbbb;
    --color-danger-a40: #ffdddd;
    --color-danger-a50: #ffeeee;
}
