@theme {
    /* ========== Primary ========== */
    --color-primary-a0: #d860fc;
    --color-primary-a10: #cf66ee;
    --color-primary-a20: #c66be0;
    --color-primary-a30: #bc70d2;
    --color-primary-a40: #b374c4;
    --color-primary-a50: #a977b6;
    --color-primary-a30-overlay: #c66be033;

    /* ========== Surface (backgrounds) ========== */
    --color-surface-a0: #ffffff;
    --color-surface-a03: #f7f7f7;
    --color-surface-a05: #f4f4f4;
    --color-surface-a07: #f2f2f2;
    --color-surface-a10: #f0f0f0;
    --color-surface-a20: #e1e1e1;
    --color-surface-a30: #d3d3d3;
    --color-surface-a40: #c5c5c5;
    --color-surface-a50: #b6b6b6;

    /* ========== Surface Tonal ========== */
    --color-surface-tonal-a0: #fdf0ff;
    --color-surface-tonal-a03: #f8ebfc;
    --color-surface-tonal-a05: #f6e8fa;
    --color-surface-tonal-a07: #f1e3f6;
    --color-surface-tonal-a10: #eee3f0;
    --color-surface-tonal-a20: #e0d6e1;
    --color-surface-tonal-a30: #d2c9d3;
    --color-surface-tonal-a40: #c4bdc5;
    --color-surface-tonal-a50: #b6b0b6;

    /* ========== Status: Info ========== */
    --color-info-a0: #014486;
    --color-info-a10: #0b5cab;
    --color-info-a20: #0176d3;
    --color-info-a30: #aacbff;
    --color-info-a40: #d8e6fe;
    --color-info-a50: #eef4ff;

    /* ========== Status: Warning ========== */
    --color-warning-a0: #6f3400;
    --color-warning-a10: #8c4b02;
    --color-warning-a20: #a86403;
    --color-warning-a30: #fcc003;
    --color-warning-a40: #f9e3b6;
    --color-warning-a50: #fbf3e0;

    /* ========== Status: Success ========== */
    --color-success-a0: #1c3326;
    --color-success-a10: #194e31;
    --color-success-a20: #396547;
    --color-success-a30: #91db8b;
    --color-success-a40: #cdefc4;
    --color-success-a50: #ebf7e6;

    /* ========== Status: Danger ========== */
    --color-danger-a0: #ba0517;
    --color-danger-a10: #ea001e;
    --color-danger-a20: #fe5c4c;
    --color-danger-a30: #feb8ab;
    --color-danger-a40: #feded8;
    --color-danger-a50: #fef1ee;
}
