.dark {
    /* ========== Primary (dark tweaks) ========== */
    --color-primary-a10: #de74fd;
    --color-primary-a20: #e487fe;
    --color-primary-a30: #e999fe;
    --color-primary-a40: #eeabff;
    --color-primary-a50: #f2bcff;
    --color-primary-a30-overlay: #c66be033;

    /* ========== Surface (dark) ========== */
    --color-surface-a0: #121212;
    --color-surface-a03: #1b1b1b;
    --color-surface-a05: #212121;
    --color-surface-a07: #262626;
    --color-surface-a10: #282828;
    --color-surface-a20: #3f3f3f;
    --color-surface-a30: #575757;
    --color-surface-a40: #717171;
    --color-surface-a50: #8b8b8b;

    /* ========== Surface Tonal (dark) ========== */
    --color-surface-tonal-a0: #231b26;
    --color-surface-tonal-a03: #2b232e;
    --color-surface-tonal-a05: #302833;
    --color-surface-tonal-a07: #352d37;
    --color-surface-tonal-a10: #38303a;
    --color-surface-tonal-a20: #4e4650;
    --color-surface-tonal-a30: #645e67;
    --color-surface-tonal-a40: #7c777e;
    --color-surface-tonal-a50: #959097;

    /* ========== Status: Info (dark) ========== */
    --color-info-a0: #032d60;
    --color-info-a10: #03234d;
    --color-info-a20: #001639;
    --color-info-a30: #57a3fd;
    --color-info-a40: #1b96ff;
    --color-info-a50: #78b0fd;

    /* ========== Status: Warning (dark) ========== */
    --color-warning-a0: #281202;
    --color-warning-a10: #2e2204;
    --color-warning-a20: #4f2100;
    --color-warning-a30: #d79304;
    --color-warning-a40: #e4a201;
    --color-warning-a50: #fcc003;

    /* ========== Status: Success (dark) ========== */
    --color-success-a0: #071b12;
    --color-success-a10: #0c2912;
    --color-success-a20: #1c3326;
    --color-success-a30: #45c65a;
    --color-success-a40: #41b658;
    --color-success-a50: #91db8b;

    /* ========== Status: Danger (dark) ========== */
    --color-danger-a0: #300c01;
    --color-danger-a10: #4a0c04;
    --color-danger-a20: #8e030f;
    --color-danger-a30: #fe8f7d;
    --color-danger-a40: #fe7765;
    --color-danger-a50: #fe5c4c;
}
