/* Tailwind Framework */
@import 'tailwindcss';

/* Custom Tailwind "dark" variant targeting .dark class and its descendants */
@custom-variant dark (&:where(.dark, .dark *));

/* Design Tokens */
@import '@styles/tokens/constants.css';

/* Themes */
@import '@styles/themes/base.css';
@import '@styles/themes/dark.css';

/* ========== Custom Scrollbar ========== */
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 9999px;
}

/* Hide scrollbar */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
